:root {
  --color-primary: #8700af;
  --color-secondary: #a42ec5;
  --color-tertiary: #cd4e87;
  --color-quaternary: #d7b400;
  --color-text: #fff;
  --color-background: #000;
  --color-background-secondary: #252525;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: var(--color-background-secondary);
}
::-webkit-scrollbar-thumb {
  background: var(--color-background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color-text);
  background: var(--color-background);
}

#kapaFIlho {
  margin-left: 10%;
  margin-right: 10%;
}

#kapa {
  margin: 0;
  padding: 0;
  height: 90vh;

  display: flex;
  background: linear-gradient(
    132deg,
    var(--color-background) 0%,
    var(--color-primary) 30%,
    var(--color-secondary) 60%,
    var(--color-tertiary) 80%,
    var(--color-quaternary) 100%
  );
}

a {
  text-decoration: none;
}
