:root {
  --color-primary: #8700af;
  --color-secondary: #a42ec5;
  --color-tertiary: #cd4e87;
  --color-quaternary: #d7b400;
  --color-text: #fff;
  --color-background: #000;
  --color-background-secondary: #252525;
}

*,
*::before,
*::after {
  background-repeat: no-repeat;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: var(--color-background-secondary);
}
::-webkit-scrollbar-thumb {
  background: var(--color-background);
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background: var(--color-background);
  background: linear-gradient(
    132deg,
    var(--color-background) 0%,
    var(--color-primary) 30%,
    var(--color-secondary) 60%,
    var(--color-tertiary) 80%,
    var(--color-quaternary) 100%
  );
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  font-size: clamp(1rem, 0.904rem + 0.481vw, 1.25rem);
  line-height: 1.5;
  justify-content: space-between;
  margin: 0;
  min-height: 100dvh;
  position: relative;
}

a {
  text-decoration: none;
}
